@model StockWebApp.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger">Are you sure you want to discontinue this item?</h2>
<div>
    <h4 class="text-warning">Here is what you selected:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.BrandId, "Brand name:")
            @*@Html.DisplayNameFor(model => model.Brand.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Category.Info, "Located in the:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-warning" /> |
        @Html.ActionLink("Back to List", "Index", "Products", new { @class = "btn btn-info" })
    </div>
    }
</div>
